<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>

    <main>
        <form action="" method="POST">
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <h2 class="text-center my-5">Register</h2>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="User name" name="username">
                            <label for="floatingInput">User name</label>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass">
                            <label for="floatingPassword">Password</label>
                          </div>
                    </div>
                    <div class="col-12 col-md-8 text-center mt-5">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                        <p>¿Estas Registrado gato? <a href="/admin/login">Inicia</a></p>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <%- include('./partials/footer')  %> 

</body>
</html>